/* :root {
  --ppp-white:#F7F7FF;
  --ppp-blue:#0C6291;
  --ppp-blue-hover:#0a4869;
  --ppp-blue-bg:#f7f7ff0c;
  --ppp-blue-nav:#121f2b00;
  --ppp-blue-shadow:#0d1720;
  --ppp-transition: 0.3s;
} */

html {
  scroll-behavior: smooth;
  --ppp-white:#F7F7FF;
  --ppp-blue:#0C6291;
  --ppp-blue-hover:#0a4869;
  --ppp-blue-bg:#f7f7ff0c;
  --ppp-blue-nav:#121f2b00;
  --ppp-blue-shadow:#0d1720;
  --ppp-transition: 0.3s;
  --ppp-bg-colour-1:#a63446;
  --ppp-bg-colour-2:#0c6291;
  --ppp-twitch:#6441a5;
  --ppp-twitch-hover: #4a307a;
  --ppp-youtube:#FF0000;
  --ppp-youtube-hover:#c80303;
}

html[data-theme='dark'] {
  scroll-behavior: smooth;
  --ppp-white:#F7F7FF;
  --ppp-blue:#0C6291;
  --ppp-blue-hover:#0a4869;
  --ppp-blue-bg:#f7f7ff0c;
  --ppp-blue-nav:#121f2b00;
  --ppp-blue-shadow:#0d1720;
  --ppp-transition: 0.3s;
  --ppp-bg-colour-1:#a63446;
  --ppp-bg-colour-2:#0c6291;
  --ppp-twitch:#6441a5;
  --ppp-twitch-hover: #4a307a;
  --ppp-youtube:#FF0000;
  --ppp-youtube-hover:#c80303;
}

/* document.documentElement.setAttribute('data-theme', 'dark')
document.documentElement.setAttribute('data-theme', 'light') */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--ppp-white);
}

::-webkit-scrollbar-thumb {
  background-color: var(--ppp-blue);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--ppp-blue-hover);
}

a:hover {
  color: var(--ppp-blue-shadow) !important;
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}

.bg {
  animation:slide 8s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, var(--ppp-bg-colour-1) 50%, var(--ppp-bg-colour-2) 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:9s;
}

.bg3 {
  animation-duration:10s;
}

body {
  background-color: var(--ppp-blue);
  opacity: 1;
  background-attachment: fixed;
  /* background-image:  linear-gradient(#f7f7ff0c 0.8px, transparent 0.8px), linear-gradient(90deg, #f7f7ff0c 0.8px, transparent 0.8px), linear-gradient(#f7f7ff0c 0.4px, transparent 0.4px), linear-gradient(90deg, #f7f7ff0c 0.4px, #121F2B 0.4px);
  background-size: 20px 20px, 20px 20px, 4px 4px, 4px 4px;
  background-position: -0.8px -0.8px, -0.8px -0.8px, -0.4px -0.4px, -0.4px -0.4px; */
}

.ppp-nav {
  background-color: var(--ppp-blue-nav);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  box-shadow: 0 10px 30px -10px var(--ppp-blue-shadow);
  transition: var(--ppp-transition);
}

.ppp-underline {
  text-decoration: none !important;
}

.btn.ppp-twitch {
  background-color: var(--ppp-twitch);
  color: var(--ppp-white);
}
.btn.ppp-twitch:hover {
  background-color: var(--ppp-twitch-hover);
  color: var(--ppp-white);
}

.btn.ppp-youtube {
  background-color: var(--ppp-youtube);
  color: var(--ppp-white)
}
.btn.ppp-youtube:hover {
  background-color: var(--ppp-youtube-hover);
  color: var(--ppp-white)
}

.ppp-white {
  color:var(--ppp-white);
}

.ppp-vh {
  height:100vh;
}

.ppp-vh-min {
  min-height:100vh;
}